---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PackConstructorInitializers: Never
PenaltyBreakAssignment: 200
PenaltyReturnTypeOnItsOwnLine: 1000
SortIncludes: Never
